<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="js/styles.css"> -->
    <script src="js/external_api.js" defer></script>
    <script
      src="https://cdn.conversejs.org/9.1.1/dist/converse.min.js"
      defer
    ></script>
    <script type="text/javascript" src="js/bundle.js" defer></script>

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://cdn.conversejs.org/9.1.1/dist/converse.min.css"
    />
  </head>

  <body>
    <title>{{ config['PAGE_TITLE'] }}</title>
    <div class="container">
      <div class="app"></div>
    </div>
  </body>
</html>
